rux-table-header{
  position: sticky;
    top: 96px;
    z-index: 100;
}

rux-table-header-cell{position:relative;}

rux-table-header-cell rux-icon{
  position: absolute;
  top: 0;
  bottom: 0;
  cursor: pointer;
  align-items:center;

}
.active-alerts{text-align:center;}
.active-alerts h1 {margin-bottom: 0;}
.active-alerts p{margin-top: 0}